.book-card {
    width: 180px;
    min-height: 260px;
    border: 2.5px solid #90a254;
    margin: 1rem;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.new-card {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #90a254;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

.new-card:hover {
    background-color: #dfdfdf;  
}

.book-image {


}

.learn-btn {
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    background-color: #90a254;
    color: white;
    border: none;
    cursor: pointer;
}

.learn-btn:hover {
    background-color: #81924c;
}